._3kyIQ, ._TM6U3, .__qzbx  {
    color: white !important;
    font-weight: bold !important;
}

.__qzbx {
    font-size: 20px;
}

._2KsQJ {
    color: black !important;
}

._2ZJvp > tbody > tr > td {
    color: black !important;
    font-weight: bold !important;
}

._2Y_iI, ._3JsKr {
    border: 5px solid black !important;
}

._GlluR {
    background-color: gray !important;
}

._19Olm {
    background-color: purple !important;
    color: white !important;
    width: 100px !important;
}

.map-container {
    width: 100%;
    height: 60vh;
}